<div class="row-fluid">
  <div class="span12 panel">
    <span class="title">
      Description
    </span>         
    <div class="content">
      <div class="row-fluid">
        <div class="span12" >
          <%= f.text_area :description, :rows => "4", :style => "width:98%" %>
        </div>
      </div>
    </div>
  </div>
</div>
