<div id="box-0" class="box">
  <div class="box-header round-top">
    Description
  </div>         
  <div class="box-container-toggle">
    <div class="box-content">
      <div class="row-fluid">
        <div class="span12" >
          <textarea rows="4" style="width:98%"></textarea>
        </div>
      </div>
    </div>
  </div>
</div>

