<div id="box-0" class="box">
  <div class="box-header round-top">
    Description
  </div>         
  <div class="box-container-toggle">
    <div class="box-content">
      <div class="row-fluid">
        <div class="span12" >
          <%= f.text_area :description, :rows => "4", :style => "width:98%" %>
        </div>
      </div>
    </div>
  </div>
</div>

