<div id="box-0" class="box">
  <h4 class="box-header round-top">
    Description
  </h4>         
  <div class="box-container-toggle">
    <div class="box-content">
      <div class="row-fluid">
        <div class="span12" >
          My sister and I really enjoyed our stay at the South Austin Cottage. Everything is exactly as described and the house is even cuter and more comfortable than it looks in the pictures. Though we didn't do any cooking, we did enjoy our morning coffee in the backyard, The house is decorated so nicely and simply, you really feel as though you are in your own place. This is my first Airbnb rental and I'm sure I've now been spoiled by this awesome house. If you enjoy walking and looking at gardens, you'll enjoy this neighborhood. It's a short walk to great restaurants, delicious coffee, music and even down to the water. It was perfect for two people with their own comfy rooms. I highly recommend this wonderful rental.
        </div>
      </div>
    </div>
  </div>
</div>

