<div id="box-0" class="box">
  <div class="box-header round-top">
    Details
  </div>         
  <div class="box-container-toggle">
    <div class="box-content">
      <div class="row-fluid">
        <div class="span12" >
          <label class="story-label">Summary: </label>
          <input type="text" value="abc" style="width: 82%;" />
          <br/><br/>
        </div>
        <div class="span6" style="padding: 0px; margin: 0px">
          <label class="story-label">Type: </label>
          <select class="story-field" ><option>Test</option> </select>
          <br/><br/>
          <label class="story-label">Status: </label>
          <select class="story-field" ><option>Completed</option> </select>
          <br/><br/>
          <label class="story-label">Owned by: </label>
          <input type="text" class="story-field" />
          <label class="story-label">Tags: </label>
          <input type="text" class="story-field" />
        </div>
        <div class="span6" style="padding: 0px 0px 0px 10px; margin: 0px">
          <label class="story-label">Points: </label>
          <select class="story-field" >
            <option>1</option> 
            <option>2</option> 
            <option>3</option> 
          </select>
          <br/><br/>
          <label class="story-label">Priority: </label>
          <select class="story-field" >
            <option>Low</option> 
            <option>Medium</option> 
            <option>High</option> 
          </select>
          <br/><br/>
          <label class="story-label">Estimate: </label>
          <input type="text" class="story-field" />
          <label class="story-label">Due date: </label>
          <input type="text" class="story-field" />
        </div>
      </div>
    </div>
  </div>
</div>

