<div id="box-0" class="box" style="border-bottom: 0px;">
  <div class="box-header round-top">
    Discussions
  </div>         
  <div class="box-container-toggle">
    <div class="comment-box">
      <% for comment in @workitem.comments %>
        <%= render :partial => 'comments/comment', :locals => {:comment => comment} %>
      <% end %>
    </div>
    <div class="box-content" style="padding: 0px;">
      <div style="padding: 10px 10px 20px 20px">
        <div>
          <textarea style="width: 98%" rows="3" id='description'></textarea>
          <%= image_tag 'spinner_small.gif', :style => 'display:none; float:right', :id => 'spinner' %> 
          <a class="btn" style="float: right;" id='comment-link' data-loading-text='Saving...'>Comment</a>
          </br>
          </br>
        </div>
      </div>
    </div>
  </div>
</div>
<script>
  $('#comment-link').click(function() {
    $('#spinner').show();
    $('#comment-link').button('loading');
    $.ajax({
      type: 'POST',
      url: '<%= project_workitem_comments_path(@current_project, @workitem) %>',
      data: { comment: {description: $('#description').val(), workitem_id: <%= @workitem.id %>} },
      success: function(data) {
        if($.type(data) === 'object') {
          for(var key in data) {
            var e = $('#' + key);
            e.addClass('required_field'); 
            e.focus();
          }
          } else {
          $('#description').removeClass('required_field'); 
          $('#description').val('');
          $('.comment-box').append(data).children(':last').hide().fadeIn(2000);
        }
      },
      complete: function() {
        $('#spinner').hide();
        $('#comment-link').button('reset');
      }
    });
  });
</script>
