<div id="box-0" class="box" >
  <div class="box-header round-top">
    Quick Information
  </div>         
  <div class="box-container-toggle">
    <div class="box-content">
      <div>
        <legend>
          People
        </legend>
        <ul class="quick-info">
          <li>
          <span class="quick-info-left">Reporter: </span>
          <span><a rel="popover" href="#">Michael Valladolid</a></span>
          </li>
          <li>
          <span class="quick-info-left">Watches: </span>
          <a id="watches_link" href="#" rel="popover" data-original-title="Watches" data-placement='bottom' data-content="Default">
            <span class="badge badge-inverse">10</span>
          </a>
          <a href="#" style="float: right"><i class="icon-eye-open"></i></a>
          <div id="watches_div" style="display:none">
            <div>
              <a>Michael Valladolid</a> <a><i style="margin-left: 20px; float: right" class="icon-trash"></i></a>
              <br/>
              <a>John Doe</a> <a><i style="margin-left: 20px; float: right" class="icon-trash"></i></a>
            </div>
          </div>
          </li>
          <li> 
          <span class="quick-info-left">Votes: </span>
          <a id="votes_link" href="#", rel="popover" data-original-title="Votes" data-placement='bottom' data-content="Default">
            <span class="badge badge-inverse">10</span>
          </a>
          <a href="#" style="float: right"><i class="icon-thumbs-up"></i></a>
          <div id="votes_div" style="display:none">
            <div>
              <a>John Doe</a> <a><i style="margin-left: 20px; float: right" class="icon-trash"></i></a>
            </div>
          </div>
          </li>
        </ul>
        <legend>
          <span>
            Dates
          </span>
        </legend>
        <ul class="quick-info">
          <li>
          <span class="quick-info-left">Date Created: </span>
          <span>15/May/13 4:01 AM</span>
          </li>
          <li>
          <span class="quick-info-left">Last Updated: </span>
          <span>15/May/13 4:01 AM</span>
          </li>
        </ul>
      </div>
    </div>
    <div class="box-content" style="border-top: 1px solid #DDDDDD">
      <button type="submit" class="btn" style="width: 110px">Save</button> &nbsp;&nbsp;&nbsp;
      <button type="submit" class="btn" style="width: 110px">Add Task</button> 
    </div>
  </div>
</div>

<script>
  $(document).ready(function() {
    init_popover("#watches_link", "#watches_div");
    init_popover("#votes_link", "#votes_div");
    function init_popover(link, div) {
      $(link).popover({
        html:true, 
        content: function() {
          return $(div).html();
        }
      }).on('click', function(e) {
        e.preventDefault(); 
      });
    }
  });
</script>
