<div class="box-content">
  <div style="float: left">
    <h4 class="width: 100px">
      Search Workitems
    </h4>
  </div>
  <div class="btn-group" style="float: right">
    <%= link_to new_project_workitem_path, :class => 'btn' do %><i class="icon-plus"></i>&nbsp; Add Workitem<%end%>
  </div>
  <br/>
  <br/>
  <br/>
  <div id="box-0" class="box" >
    <div class="box-header round-top">
      <div>
        <table width="100%">
          <tr>
            <td>
              Contains text:&nbsp; <input id="keyword" type="text" style="width: 64%"/> 
            </td>
            <td>
              Type: <select id="type_id" style="width: 70%">
                <option value="">All</option>
                <option value="1">Story</option>
                <option value="2">Task</option>
                <option value="3">Defect</option>
              </select>
            </td>
            <td>
              Status: &nbsp;<select id="status_id" style="width: 70%">
                <option value="">All</option>
                <option value="1">In Progress</option>
                <option value="2">Done</option>
                <option value="3">Verified</option>
              </select>
            </td>
            <td>
              Rows: &nbsp; <select id="rows" style="width: 60%">
                <option value="2">2</option>
                <option value="5">5</option>
                <option value="10">10</option>
              </select> 
            </td>
          </tr>
        </table>
      </div>
    </div>         
    <div class="box-container-toggle" id="workitems_result">
    </div>
  </div>
</div>
<%= stylesheet_link_tag 'simplePagination', :media => 'all' %>
<%= javascript_include_tag 'jquery.simplePagination' %>

<script>
  function search(pageNumber) {
    keyword = $("#keyword").val();
    type_id = $("#type_id").val();
    status_id = $("#status_id").val();
    rows = $("#rows").val();
    $("#loading").show();
    $.ajax({
      url: "<%= project_workitems_path(@current_project) %>",
      method: "GET",
      data: {
        partial: true,
        keyword: keyword,
        type_id: type_id, 
        status_id: status_id,
        rows: rows,
        offset: pageNumber - 1
      },
      success: function(response) {
        $("#workitems_result").html(response); 
        $("#loading").hide();
      }
    });
  }

  $(document).ready(function() {
    search(1);
    var obj = ["#rows", "#type_id", "#status_id"];
    for (var i = 0; i < obj.length; ++i) {
      $(obj[i]).change(function() {
        search(1);
      });
    }

    $("#keyword").keydown(function(e) {
      if(e.keyCode ==  13)
        search(1); 
    })
  });
</script>
