<div class="row">
  <div class="span9" >
    <h4>
      Story 1234
    </h4>
    <br/>
  </div>
  <div class="span9">
    <%= render 'details' %>
    <%= render 'description' %>
    <%= render 'discussions' %>
  </div>
  <div class="span3" >
    <%= render 'quick_info' %>
  </div>
</div>
