<% @comment = comment if @comment.nil? %>
<div class="box-content" style="padding: 0px;">
  <div style="border-bottom: 1px solid #DDDDDD; padding: 10px 10px 10px 20px">
    <div style="padding-bottom: 5px"> 
      <a><i class="icon-user"></i>&nbsp;&nbsp;<%= @comment.user.fullname %></a> added a comment 
      <span style="float: right;"><%= @comment.created_at.strftime("%B %d, %Y %I:%M %p") %></span>
    </div>
    <div style="padding:10px">
      <%= @comment.description %>
    </div>
  </div>
</div>
