<% my_comment = @comment.nil? ? comment : @comment %>

<div class="person">
  <div class="span8">
    <img class="pic" src="img/luke.png" />
    <div class="description" style="padding: 0px">
      <div>
        <span class="h5"><%= link_to my_comment.user do %><%= my_comment.user.user_detail.fullname %><% end %></span> added a comment
      </div>
      <p class="user-comment"><%= my_comment.description %></p>
    </div>
  </div>
  <div class="span4">
    <div style="text-align: right; padding-right: 20px">
      <span><%= my_comment.created_at.strftime("%B %d, %Y %I:%M %p") %></span>
    </div>
  </div>
</div>
<div class ="span12 divider" style="height: 1px"></div>
