<div class="box-content" style="padding: 0px;">
  <div style="border-bottom: 1px solid #DDDDDD; padding: 10px 10px 10px 20px">
    <div style="padding-bottom: 5px"> 
      <a><i class="icon-user"></i>&nbsp;&nbsp;<%= @comment.user.fullname %></a> added a comment 
      <span style="float: right;"><%= @comment.created_at.strftime("%B %d, %Y %H:%M %p") %></span>
    </div>
    <div>
      Joined Sample Sprint 1 21 days 10 hours 20 minutes ago</br>
      To Do to Done 9 days 1 hours 45 minutes ago
    </div>
  </div>
</div>
