<div class="panel no-top-bot-border" >
  <span class="title">
    Search Users
  </span>
  <div class="row-fluid">
    <div class="content">
      <div class="span4">
        Name: &nbsp; <input type="text" style="width: 64%"/> 
      </div>
      <div class="span2">
        Type: <select style="width: 70%">
          <option>All</option>
          <option>Story</option>
          <option>Task</option>
          <option>Defect</option>
        </select>
      </div>
      <div class="span3">
        Status: &nbsp;<select style="width: 70%">
          <option>All</option>
          <option>In Progress</option>
          <option>Done</option>
          <option>Resolved</option>
        </select>
      </div>
      <div class="span2">
        Rows: &nbsp; <select id="rows" style="width: 60%">
          <option>2</option>
          <option>5</option>
          <option>10</option>
        </select> 
      </div>
      <div class="span1 btn-group">
        <a href="#create_user" class="btn" data-toggle="modal" title="Invite user"><i class="icon-envelope"></i></a>
        <%= link_to new_user_path, :class => 'btn ajax-modal', :title => "Add user" do %><i class="icon-plus"></i><%end%>

      </div>
    </div>
  </div>
  <div id="users_result" class="panel no-side-border" >
  </div>
</div>
<%= stylesheet_link_tag 'simplePagination', :media => 'all' %>
<%= javascript_include_tag 'jquery.simplePagination' %>

<script>
  function search(pageNumber) {
    $("#loading").show();
    var rows = $("#rows").val();
    $.ajax({
      url: "<%= users_path %>",
      data: { 
        partial: true,
        rows: rows,
        offset: pageNumber - 1,
      },
      success: function(data) {
        $("#users_result").html(data); 
      },
      complete: function(data) {
        $("#loading").hide();
      }
    }); 
  }

  $(document).ready(function() {
    search(1); 
    var ids = ["#rows"];
    for(var i = 0; i < ids.length; ++i) {
      $(ids[i]).change(function() {
        search(1);
      })
    }
  });
</script>

