<div class="sidebar">
  <ul class="nav nav-tabs nav-stacked">
    <li class="active">
    <a href="index.html">
      <i class="icon-dashboard"></i>
      Overview
    </a>
    </li>
    <li>
    <a href="#" data-toggle="collapse" data-target="#administration">
      <i class="icon-dashboard"></i>
      Administration
    </a>
    <ul id="administration" class="nav nav-tabs nav-stacked collapse">
      <li>
      <a href="index.html">
        <i class="icon-dashboard"></i>
        Members
      </a>
      </li>
      <li>
      <a href="index.html">
        <i class="icon-dashboard"></i>
        Permissions
      </a>
      </li>
    </ul>
    </li>
    <li>
    <a href="index.html">
      <i class="icon-dashboard"></i>
      Workitems
    </a>
    </li>
  </ul>
</div>


