<div class="person">
  <div class="span12">
    <%=  image_tag "anon_user.png", :class => :pic, :width => "50", :style => "margin-top: -50px" %>
    <div class="description" style="padding: 0px">
      <div>
        <span class="h5">Test</span> added a comment
      </div>
      <p class="user-comment">Test
      
      </br>
      <span class="date">June 12</span>
      </p>
    </div>
  </div>
</div>
