<div class="box-content">
  <div class="btn-group" style="float: right">
    <%= link_to new_project_path, :class => "btn ajax-modal" do %>
      <i class="icon-plus"></i>&nbsp;Create Project
    <% end %>
  </div>
  <br/>
  <br/>
  <br/>
  <div class="panel no-top-bot-border" >
    <div class="title">
      Search Projects
    </div>
    <div class="ten-padding">
      <table width="100%">
        <tr>
          <td>
            Contains text:&nbsp; <input id="keyword" type="text" style="width: 64%"/> 
          </td>
          <td>
            Rows: &nbsp; <select id="rows" style="width: 60%">
              <option value="2">2</option>
              <option value="5">5</option>
              <option value="10">10</option>
            </select> 
          </td>
        </tr>
      </table>
    </div>         
    <div class="panel no-side-border" id="projects_list" >
    </div>
  </div>
</div>
<%= stylesheet_link_tag 'simplePagination', :media => 'all' %>
<%= javascript_include_tag 'jquery.simplePagination' %>
<script>
  function search(pageNumber) {
    $("#loading").show();
    $.ajax({
      url: "<%= projects_path %>",
      method: "GET",
      data: { 
        keyword: $("#keyword").val(), 
        rows: $("#rows").val(), 
        offset: pageNumber - 1,
        partial: true 
      },
      success: function(data) {
        $("#projects_list").html(data);
      }, 
      complete: function() {
        $("#loading").hide();
      }
    });
  }
  $(document).ready(function() {
    search(1); 
    var ids = ["#rows"];
    for(var i = 0; i < ids.length; ++i) {
      $(ids[i]).change(function() {
        search(1); 
      })
    }
    $("#keyword").keydown(function(e) {
      if(e.keyCode == 13)
      search(1);
    });
  });
</script>
