<div class="row-fluid">
  <div class="panel span12">
    <div class="title">
      Project - <strong><%= @project.name %></strong>
    </div>         
    <div class="content">
      <div>
        <div>
          <div class="row-fluid">
            <div class="span6">
              <h4>
                Welcome to your project
              </h4>
              <br/>
              Everything you need to know about how your project is running is tracked on this page. As your project evolves, the information will be updated. Use the tabs on the left to navigate within your project.
              <br/>
              <br/>
              Change the <%= link_to 'project description', {:controller => :projects, :action => :edit}, :class => 'ajax-modal' %> details about your project.
            </div>
            <% if @project.workitems.size < 1 %>
              <div class="span6 well">
                <div style="margin-bottom: -5px">
                  <strong>
                    Get project started 
                  </strong>
                </div>
                </br>
                <div style="margin-bottom: 10px">
                  Create your first workitem by clicking on the "Create workitem" button.
                </div>
                <%= link_to 'Create Workitem', new_project_workitem_path(@current_project) , :class => :btn %>
              </div>
            <% else %>
              <div class="span6 panel"> 
                <span class="title title-grey">
                  Activity Stream
                </span>
                <div class="people">
                  <div class="row-fluid">
                    <% 1.upto(4) do |i| %> 
                      <%= render 'streams' %>
                      <% if i < 4 %>
                        <div class ="span12 divider" style="height: 1px"></div>
                      <% end %>
                    <% end %>
                  </div>
                </div>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
