<% @watches = watches if @watches.nil? %>
<div>
  <ul class="popover-ul" id="watches_list">
  </ul>
  <ul class="popover-ul">
    <% for watch in @watches %>
      <li><%= link_to h(watch.user.fullname), watch %></li></li>
    <% end %>
    <li class="divider-li"></li>
    <li><input type="text" id="add_watches" data-provide="typeahead" autocomplete="off"/></li>
  </ul>
</div>
