<% @watches = watches if @watches.nil? %>
<% @workitem_id = workitem_id if @workitem_id.nil? %>
<%= link_to new_project_workitem_watch_path(@current_project, @workitem_id), :id => "watches_link", :class => "ajax-modal" do %>
  <span class="badge badge-inverse" id="watch_count"><%= @watches.size %></span>
<% end %>
<% index = @watches.map(&:user_id).index(1) %>
<% if not index %>
  <a href="#" id="watch_workitem">
    <span style="margin-left: 10px">Watch this issue</span>
  </a>
  <script>
    $(document).ready(function(){
      $('#watch_workitem').click(function(e) {
        $(this).hide();
        watch_cd(1, 'POST');
        e.preventDefault();
        return false;
      });
    });
  </script>
<% else %>
  <a href="#" id="unwatch">
    <span style="margin-left: 10px">Stop watching</span>
  </a>
  <script>
    $(document).ready(function(){
      $(this).hide();
      $('#unwatch').click(function(e) {
        watch_cd(1, 'DELETE');
        e.preventDefault();
        return false;
      });
    });
  </script>
<% end %>
<script>
  $(document).ready(function() {

  })
</script>

