html { 
  overflow-y: scroll; 
}

body {
  padding-top: 80px;
}

label, input, select {
  cursor: default;
}

textarea {
  resize: none;
}

input[type=text] { 
  width: 90%;  
}

select {
  width: 95%;
}


legend {
  font-size: 15px;
  font-weight: bold;
}

a, a:hover {
  cursor: pointer;
  text-decoration: none;
}

.no-margin {
  margin: 0;
}

.no-padding {
  padding: 0;
}

.h5 {
  font-weight: bold;
  margin-right: 10px;
}

.quick-info-btn {
  padding: 0px 10px 10px 10px;
  width: 100%;
}

.panel {
  background: #fcfcfc;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin-bottom: 24px;
  font-size: 13px;
  border: 1px solid #e5e5e5; 
}

.panel .title {
  background-color: #2a6ba3;
  color: #f2eeeb;
  display: block;
  margin-bottom: 12px;
  padding: 6px 12px;
  -webkit-border-radius: 4px 4px 0 0;
  -moz-border-radius: 4px 4px 0 0;
  border-radius: 4px 4px 0 0;
  font-weight: bold;
}

.panel .title + table {
  margin-top: -12px;
}

.panel .content {
  padding: 6px 18px 12px;
  -webkit-border-radius: 0 0 4px 4px;
  -moz-border-radius: 0 0 4px 4px;
  border-radius: 0 0 4px 4px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.panel form {
  margin-top: -12px;
  margin-bottom: 0;
}

.panel form label {
  padding-left: 6px;
  font-weight: 400;
}

.panel form .form-actions {
  margin: 0;
  -webkit-border-radius: 0 0 4px 4px;
  -moz-border-radius: 0 0 4px 4px;
  border-radius: 0 0 4px 4px;
  border-top: none;
}

.panel table {
  margin-bottom: 0;
}

.panel table th {
  font-weight: 400;
}

.panel table thead.title {
  color: #f2eeeb;
  background-color: #000;
  display: table-header-group;
}

.panel table thead.title tr th:first-child {
  -webkit-border-radius: 4px 0 0 0;
  -moz-border-radius: 4px 0 0 0;
  border-radius: 4px 0 0 0;
}

.panel table thead.title tr th:last-child {
  -webkit-border-radius: 0 4px 0 0;
  -moz-border-radius: 0 4px 0 0;
  border-radius: 0 4px 0 0;
}

table.sortable thead tr th {
  font-weight: bold;
}

table.sortable thead tr th:hover {
  -webkit-transition: all 0.15s ease-out;
  -moz-transition: all 0.15s ease-out;
  -o-transition: all 0.15s ease-out;
  transition: all 0.15s ease-out;
  background: rgba(255, 255, 255, 0.1);
  background: #e8e1dc;
}

table.sortable thead.title tr th:hover {
  -webkit-transition: all 0.15s ease-out;
  -moz-transition: all 0.15s ease-out;
  -o-transition: all 0.15s ease-out;
  transition: all 0.15s ease-out;
  background: rgba(255, 255, 255, 0.1);
}

table.center th,
table.center td {
  text-align: center;
}

.people {
  margin-top: -12px;
}

.people img {
  display: inline-block;
  -webkit-border-radius: 99px;
  -moz-border-radius: 99px;
  border-radius: 99px;
  margin: -24px 24px 0;
}

.user-comment {
  margin-top: 5px;
}

.people .description {
  display: inline-block;
  margin-top: 5px;
}

.people .person {
  float: left;
  margin: 0px;
  width: 100%;
  padding: 10px;
}

.story-label {
  width: 100px;
  float: left;
  text-align: left;
  padding: 4px 10px 2px 2px;
}

.story-field {
  width: 70%;
  padding: 0px;
  margin: 0px;
}

.white-caret {
  border-top-color: #FFFFFF !important;
  border-bottom-color: #FFFFFF !important;
}

.quick-info {
  list-style-type:none; 
  padding: 0px; 
  margin: 0px 0px 5px 0px;
}

.quick-info > li {
  padding-bottom:5px
}

.quick-info-left {
  float: left; 
  text-align: left; 
  width: 100px;
}

.navbar-inner {
  background-color: #205081;
  background-image: none;
  background-repeat: no-repeat;
  filter: none;
}

.navbar .brand {
  color: #ffffff;
  text-shadow: none;
}

.navbar .nav > li > a:focus,
.navbar .nav > li > a:hover {
  color: #ffffff;
  text-decoration: none;
  background-color: #2a6ba3;
}

.navbar .nav > li > a {
  color: #ffffff;
  font-size: 14px;
  text-shadow: none;
}

.navbar .nav > .active > a,
.navbar .nav > .active > a:hover,
.navbar .nav > .active > a:focus {
  background-color: #2a6ba3;
  text-decoration: none;
}

.navbar .nav li.dropdown.open > .dropdown-toggle,
.navbar .nav li.dropdown.active > .dropdown-toggle,
.navbar .nav li.dropdown.open.active > .dropdown-toggle {
  color: #ffffff;
  background-color: #2a6ba3;
}

.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus,
.dropdown-submenu:hover > a,
.dropdown-submenu:focus > a {
  color: #ffffff;
  text-decoration: none;
  background-image: none;
}

.dropdown-menu > li > label {
  padding-left: 10px;
  font-weight: bold;
}

.navbar .divider-vertical {
  height: 40px;
  margin: 0 0px;
  border-right: none;
  border-left: 1px solid #4e6883;
}

.form-signin {
  width: 350px;
  padding: 19px 29px 29px;
  margin: 0 auto 20px;
  background-color: #fff;
  border: 1px solid #e5e5e5;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
  -moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
  box-shadow: 0 1px 2px rgba(0,0,0,.05);
}

.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}
.form-signin input[type="text"],
.form-signin input[type="password"] {
  font-size: 16px;
  height: auto;
  margin-bottom: 15px;
  padding: 7px 9px;
}

.row-fluid .divider {
  min-height: 1px;
  background: #ded4cc;
  margin-left: 0px;
}

.required_field {
  border:1px solid rgba(196, 39, 39, 0.3) !important;
  -webkit-box-shadow: 0px 0px 5px 2px rgba(196, 39, 39, 0.3) !important;
  box-shadow: 0px 0px 5px 2px rgba(196, 39, 39, 0.3) !important;
}

.modal-footer {
  margin-bottom: -20px;
}
