<!DOCTYPE html>
<html>
  <head>
    <title>Squela</title>
    <link rel='stylesheet' medial='all' type='text/css' href='/css/bootstrap.css' />
    <link rel='stylesheet' medial='all' type='text/css' href='/css/bootstrap-responsive.css' />
    <link rel='stylesheet' medial='all' type='text/css' href='/css/squela.css' />

    <script type='text/javascript' src='/js/jquery-1.9.1.min.js'></script>
    <script type="text/javascript" src="/js/tooltip.js"></script>
    <script type='text/javascript' src='/js/bootstrap.min.js'></script>
  </head>
  <body>
    <%= render 'shared/header' %>
    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
